body {
    color: black;
}

div.container-contato {
    background-color: rgba(255, 255, 255, 0.618);
    display: flex;
    flex-direction: column;
    
}

img.contato-img {
    width: 100%;
    height: 33vh;
    background-size: cover;
    object-fit: cover;
    border-radius: 5px;
    background-position: top;
    background-repeat: no-repeat;
    box-shadow: 0px 13px 21px rgba(0, 0, 0, 0.452);
    margin-top: 50px;
}

.img-contact {
    border-radius: 20px;
    display: block; 
}

div.desc-contato {
    position: relative;

    display: flex;
    height: 66%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    color: black;
    text-align: start;
    padding: 6px;
    background-color:transparent;
    border-radius: 10px;
}

p img {
    width: 15px;
    height: 10px;
    margin-right: 5px;
}



div.desc-contato p.local-contato, p {
    margin: 3px;
    margin-bottom: 10px;
    padding-left: 3px;
    font-size: 0.9em;
}

div.box-contato {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 3px;
    background-color: #C9D7C4;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    gap: 5px;
    height: 275px;
    border-radius: 10px;
    border: 1px solid black;
}


div.whatsapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 3%;
}

div.whatsapp h6 {
    font-size: 0.8rem;
    color: #242424cd;
    margin-bottom: 15px;
    margin-top: 5px;
}

div.whatsapp a {
    text-decoration: none;
    background-color: #8F9799;
    padding: 3%;
    color: black;
    border-radius: 1px;
    font-weight: bold;
}