.carousel-body-ong .carousel-indicators{
    margin-bottom: 10px;

}

.carosuel-body{
    border-radius: 8px;
    border: 1px black solid;
    margin-bottom: 10%;
}

.carouselItemOng{
    height: 285px;
}

h4, p {
    margin-left: 0;
}

h4{
    font-weight: bold !important;
}
