.carosuel-body-testemunho{    
    margin-bottom: 2%;
}

.carouselItem{
    min-height: 700px;
    border: 1px solid black;
    border-radius: 20px;

}

.text {
    padding: 0% 2% 0% 2% !important;
}

h4{
    font-weight: bold !important;
}
