div.card-container {
    position: relative;
    min-height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
}

div img.card-img {
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    margin-top: 34px;
}

div.dog-nome-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.info-dog-column {
    width: 100%;
    padding: 5px 2px;
    height: 100%;
}

div.flex-end {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
}

div.observacoes {
    margin-top: 1rem;
    padding: 2px;
}

button.compartilhar-btn {
    background-color: rgba(255, 255, 255, 0.43);
    border: 2px solid rgba(0, 0, 0, 0.515);
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 12px;
    cursor: pointer;
    width: auto;
    padding: 3px 5px;
    border-radius: 8px;
}


button.btn {
    background-color: #a19e9e83;
    border: none;
    border-radius: 8px;
    padding: 0px 3px;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.375);
    font-weight: bold;
    cursor: pointer;
    width: 100px;
    height: 25px;
    margin-right: 20px;
}

button.compartilhar-btn {
    display: flex;
    justify-content: center;
    padding: 8px;
    background-color: rgba(240, 248, 255, 0.623);
    border: rgba(0, 0, 0, 0.775) 1px solid;
    border-radius: 5px;
}


div.button-hover {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

button.btn-fromtop {
    background-color: transparent;
    border: none;
    color: yellow;
    font-size: 20px;
    padding-top: 10px; 
}

div.row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


p.descricao {
    font-size: 0.9rem;
    word-wrap: break-word;
}

button span {
    margin-left: 21px;
}

span img {
    width: 15px;
    height: 15px;
}

button.btn-contatar {
    width: 90%;
    height: 55px;
    border: none;
    background-color: #1E1E1E;
    color: rgba(255, 255, 255, 0.81);
    padding: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    letter-spacing: 1px;
}

div.row-item1 {
    display: flex;
    background-color: #77B291;
    border-radius: 5px;
    border: #1E1E1E 1px solid;
    margin: 2px;
    font-size: 14px;
    padding: 4px 15px;
}

div.row-item2 {
    display: block;
    background-color: #6079D1;
    border-radius: 5px;
    border: #1E1E1E 1px solid;
    margin: 2px;
    font-size: 14px;
    padding: 4px 15px;
}

div.row-item3 {
    display: block;
    background-color: #FAD673;
    border-radius: 5px;
    border: #1E1E1E 1px solid;
    margin: 2px;
    font-size: 14px;
    padding: 4px 15px;
}

div.row-item4 {
    display: block;
    background-color: #ED7957;
    border-radius: 5px;
    border: #1E1E1E 1px solid;
    margin: 2px;
    font-size: 14px;
    padding: 4px 15px;
}

div.dog-content {
    margin: 0px 15px;
}

p.local {
    margin-bottom: 36px;
    margin-top: -11px;
}

#divSemPet{
    margin: 100px 0;
    text-align: center;
}

#divSemPet a {
    text-decoration: underline;
}