@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&display=swap');

div.background-login {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 100%;
  background-color: rgb(125, 125, 125);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  margin: 0%;
  padding: 0%;
}

div.containerForm-login {
  max-width: 390px;
  max-height: 700px;
  width: 100vh;
  height: 100vh;
  overflow-x: hidden;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #909090;
  padding: 0%;
}

.divImageLogin,
h3.titulo-login {
  text-align: center;
}

.divImageLogin img {
  width: 100vw;
  max-width: 390px;
}

h1.titulo-login {
  font-weight: bold;
  color: #000;
}
p.cadastro {
  font-size: 15px;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 380px;
}

p.infoInput {
  color: black;
  padding-left: 10px;
  margin: 0%;
  margin-bottom: 3px;
}

div.esqueciSenha {
  width: 360px;
  margin-bottom: 20px;
  display: flex;
  justify-content: start;
}

div a.esqueciSenha2 {
  font-size: 12px;
  font-weight: 900;
  color: #000;
}

input {
  font-size: 16px !important;
  font-weight: bold !important;
}

input::placeholder {
  text-align: center;
  color: black;
  font-size: 14px;
  text-align: start;
}

Button.botao-login {
  background-color: black !important;
  height: 45px;
  color: #fff !important;
  font-weight: 500 !important;
  font-size: 24px;
  width: 360px;
  margin: 0%;
}

div.espaco-login {
  padding-bottom: 5px;
  margin: 0%;
}

div .linha-login {
  width: 360px;
  height: 35px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #191b18;
  font-size: 24px;
}

button.botao:hover {
  background-color: #76bb4c !important;
  border: transparent !important;
  border-radius: 13px !important;
  color: #000 !important;
  font-weight: 600 !important;
}

div a.link-login {
  padding-top: 20px;
  text-decoration: none;
  color: #555555;
  font-size: 18px;
  font-weight: 400;
  transition: ease-in-out 0.2s;
  display: flex;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

div a.link-login:hover {
  color: #191b18 !important;
}

div :link.link-button-enviar {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  color: #909090;
  background-color: #76bb4c;
  font-size: 35px;
}

div :link {
  text-decoration: none;
  color: #909090;
  font-size: 18px;
}
